body {
  margin: 60px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(54,48,255,1);
  height: 462px;
}

h1 {
  color: white;
}

p {
  color: white;
  size: 60px;
}

button {
  margin: 10px;
  
}
